.countries_page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 0 0;

    .podium{
        background-image: url(../_assets/podium2.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 600px;
        height: 300px;
        background-size: cover;
        // background-size: contain;
        margin-top: 60px;

        .podium_place{
            position: relative;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            letter-spacing: 1px;
            line-height: 22px;
            font-weight: bold;
        }

        .first_place{
            left: 206px;
            bottom: 104px;

            img{
                width: 120px;
                // height: 60px;
            }

            span{
                margin: -17px 0 0 0;
            }
        }

        .second_place{
            left: 23px;
            bottom: 145px;

            img{
                width: 90px;
            }

            span{
                margin: -11px 0 0 0;
            }
        }

        .third_place{
            left: 393px;
            // bottom: 212px;
            bottom: 160px;

            img{
                width: 60px;
            }

            span{
                margin: -5px 0 0 0;
            }
        }
    }

    .countries_list{
        margin-top: 30px;

        table{
            border: 1px solid $border-black;
            border-collapse: collapse;
            width: 600px;

            td,
            th{
                border: 1px solid $border-black;
                padding: 10px 6px;
                text-align: center;
                background-color: #f5f5f5;

                a{
                    @extend %reset_link;
                    color: $main-red;
                    font-weight: bold;
                }
            }

            th{
                background-color: $darker-red;
                color: white;
                height: 40px;
                //padding: 0;

                img{
                    width: 12px;
                    cursor: pointer;
                    float: right;
                    margin: 0;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media screen and (max-width: $max-width){
    .countries_page{

        .podium{
            width: 300px;
            height: 200px;
            margin-top: -30px;

            .podium_place{
                width: 100px;
                line-height: initial;
            }

            span{
                font-size: 10px;
            }

            .first_place{
                left: 100px;
                bottom: 23px;

                img{
                    width: 50px;
                }

                span{
                    margin: -4px 0 0 0;
                }
            }

            .second_place{
                left: 10px;
                bottom: 40px;

                img{
                    width: 40px;
                }

                span{
                    margin: -3px 0 0 0;
                }
            }

            .third_place{
                left: 195px;
                bottom: 60px;

                img{
                    width: 30px;
                }

                span{
                    margin: -2px 0 0 0;
                }
            }
        }

        .countries_list{
            table{
                width: 90vw;

                td{
                    font-size: 12px;

                    img{
                        width: 32px;
                    }
                }

                th{
                    font-size: 14px;

                    img{
                        width: 13px;
                    }
                }
            }
        }
    }

}
