.main {
    main {
        .ostatnie {
            h2 {
                font-size: 1.8rem;
                margin: 20px 0 0 5vw;
                color: $main-purple;
            }
        }
        table {
            display: flex;
            justify-content: center;
            tbody {
                tr {
                    td {
                        padding: 50px !important;
                        img {
                            width: 300px;
                            height: 250px;
                        }
                        p {
                            max-width: 300px;
                            &.diff {
                                font-weight: bold;
                                text-transform: uppercase;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}