// Default imports

@import 'variables';
@import 'functions';
@import url('https://fonts.googleapis.com/css?family=Montserrat');


// Default 

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $main-gray;
}


// Page styles
@import 'header';
@import 'main';