$h2: 30px;

%img{
    line-height: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

%aktualizuj{
    font-size: 10px;
    font-weight: normal;
    color: blue;
    margin-left: 4px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: #e8f0ff;
}

nav{
    height: 90px;
    padding: 30px;
    background-color: #6da5ff;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;

    a{
        text-decoration: none;
        color: black;
    }

    .header{
        font-size: 30px;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        width: 400px;
        font-size: 15px;

        img{
            height: 55px;
        }

        div{
            text-align: center;
            position: relative;
            width: 100px;
            transition: transform .2s;

            p{
                margin-top: -5px;
                letter-spacing: 1px;
            }
        }

        div:hover{
            text-decoration: underline;
            transform: scale(1.15);
        }

        .count{
            position: absolute;
            top: 39%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }

        .loginImg{
            transform: scaleX(-1) scaleY(1);
        }

    }
}

main{
    padding: 10px;

    .ostatnie{
        h2{
            font-size: $h2;
        }
    
        table{
            width: 100%;
            table-layout: fixed;
            border: 1px solid black;
            border-collapse: collapse;
    
            td{
                border: 1px dashed black;
                //padding: 2px 8px 8px 8px;
                padding: 8px;

                p{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
    
            a{
                @extend %aktualizuj;
            }
    
    
            img{
                height: 180px;
                @extend %img;
            }
        }
    }
    
    .dodaj{
        h2{
            font-size: $h2;
        }

        label, input{
            margin-bottom: 5px;
        }
        
        form{
            margin: 15px 0;
        }

        table{
            border-collapse: collapse;

            td{
                border: 1px solid black;
                padding: 5px;
            }

            img{
                height: 200px;
                width: 265px;
                @extend %img;
            }

            a{
                @extend %aktualizuj;
            }
        }
    }

    .tabelka{
        .wyswietl__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        center{
            
            a, span{
                margin: 0 10px;
                font-size: 18px;
                color: black;
            }
        }

        table{
            border-collapse: collapse;
            margin: 10px 0;

            td{
                border: 1px solid black;
                padding: 5px;
            }

            img{
                height: 200px;
                width: 265px;
                @extend %img;
            }

            a{
                @extend %aktualizuj;
            }
        }
    }

    .znalezione{
        table{
            border-collapse: collapse;
            margin: 10px 0;

            td{
                border: 1px solid black;
                padding: 5px;
            }

            img{
                height: 200px;
                width: 265px;
                @extend %img;
            }
    
            a{
                @extend %aktualizuj;
            }
        }
    }

    .kraje{
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        .alpha{
            display: flex;
            flex-direction: column;

            a{
                color: blue;

                img{
                    width: 28px;
                    height: 18px;
                }
            }

            span{
                margin: 3px;
            }
        }

        .top{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a{
                text-decoration: none;
                color: black;
            }
    
            span{
                margin: 8px;
            }
    
            .first{
                font-size: 60px;
                text-decoration: underline;
            }
    
            .second{
                font-size: 40px;
                text-decoration: underline;
            }
    
            .third{
                font-size: 30px;
                text-decoration: underline;
            }
        }

    }

    .login{
        h2{
            font-size: $h2;
        }

        form{
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            width: 150px;

            input{
                margin-bottom: 5px;
            }

            .loginError{
                color: red;
                font-size: 10px;              
            }
        }
    }
}