main .znalezione table img, main .tabelka table img, main .dodaj table img, main .ostatnie table img {
  line-height: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

main .znalezione table a, main .tabelka table a, main .dodaj table a, main .ostatnie table a {
  font-size: 10px;
  font-weight: normal;
  color: blue;
  margin-left: 4px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #e8f0ff;
}

nav {
  height: 90px;
  padding: 30px;
  background-color: #6da5ff;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: black;
}
nav .header {
  font-size: 30px;
}
nav .nav {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 15px;
}
nav .nav img {
  height: 55px;
}
nav .nav div {
  text-align: center;
  position: relative;
  width: 100px;
  transition: transform 0.2s;
}
nav .nav div p {
  margin-top: -5px;
  letter-spacing: 1px;
}
nav .nav div:hover {
  text-decoration: underline;
  transform: scale(1.15);
}
nav .nav .count {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
nav .nav .loginImg {
  transform: scaleX(-1) scaleY(1);
}

main {
  padding: 10px;
}
main .ostatnie h2 {
  font-size: 30px;
}
main .ostatnie table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}
main .ostatnie table td {
  border: 1px dashed black;
  padding: 8px;
}
main .ostatnie table td p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .ostatnie table img {
  height: 180px;
}
main .dodaj h2 {
  font-size: 30px;
}
main .dodaj label, main .dodaj input {
  margin-bottom: 5px;
}
main .dodaj form {
  margin: 15px 0;
}
main .dodaj table {
  border-collapse: collapse;
}
main .dodaj table td {
  border: 1px solid black;
  padding: 5px;
}
main .dodaj table img {
  height: 200px;
  width: 265px;
}
main .tabelka .wyswietl__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .tabelka center a, main .tabelka center span {
  margin: 0 10px;
  font-size: 18px;
  color: black;
}
main .tabelka table {
  border-collapse: collapse;
  margin: 10px 0;
}
main .tabelka table td {
  border: 1px solid black;
  padding: 5px;
}
main .tabelka table img {
  height: 200px;
  width: 265px;
}
main .znalezione table {
  border-collapse: collapse;
  margin: 10px 0;
}
main .znalezione table td {
  border: 1px solid black;
  padding: 5px;
}
main .znalezione table img {
  height: 200px;
  width: 265px;
}
main .kraje {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
main .kraje .alpha {
  display: flex;
  flex-direction: column;
}
main .kraje .alpha a {
  color: blue;
}
main .kraje .alpha a img {
  width: 28px;
  height: 18px;
}
main .kraje .alpha span {
  margin: 3px;
}
main .kraje .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .kraje .top a {
  text-decoration: none;
  color: black;
}
main .kraje .top span {
  margin: 8px;
}
main .kraje .top .first {
  font-size: 60px;
  text-decoration: underline;
}
main .kraje .top .second {
  font-size: 40px;
  text-decoration: underline;
}
main .kraje .top .third {
  font-size: 30px;
  text-decoration: underline;
}
main .login h2 {
  font-size: 30px;
}
main .login form {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  width: 150px;
}
main .login form input {
  margin-bottom: 5px;
}
main .login form .loginError {
  color: red;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
