# HTID:8683653: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:8683653:


RewriteEngine on

# NC makes the rule not case sensitive
# L makes this the last rule that this specific condition will match
# !-d check if directory doesnt exist
# !-f check if file doesnt exist

RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{QUERY_STRING} \s
RewriteRule .* - [F,L]

RewriteRule ^(.*)ą(.*)$ /$1a$2 [L,R=302]
RewriteRule ^(.*)ć(.*)$ /$1c$2 [L,R=302]
RewriteRule ^(.*)ę(.*)$ /$1e$2 [L,R=302]
RewriteRule ^(.*)ł(.*)$ /$1l$2 [L,R=302]
RewriteRule ^(.*)ń(.*)$ /$1n$2 [L,R=302]
RewriteRule ^(.*)ó(.*)$ /$1o$2 [L,R=302]
RewriteRule ^(.*)ś(.*)$ /$1s$2 [L,R=302]
RewriteRule ^(.*)ź(.*)$ /$1z$2 [L,R=302]
RewriteRule ^(.*)ż(.*)$ /$1z$2 [L,R=302]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^wyswietl/([a-zA-Z]+)/([0-9]+) index.php?str=wyswietl&sort=$1&page=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^wyswietl/kraj/([a-zA-Z]+)/([0-9]+) index.php?str=wyswietl&kraj=$1&page=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^szukaj/([a-zA-Z]+)/([0-9a-zA-Z'-]+) index.php?str=szukaj&select=$1&szukaj=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^szukaj/([a-zA-Z]+)/ index.php?str=szukaj&select=$1&szukaj= [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^wyswietl/kraj/([a-zA-Z]+) index.php?str=wyswietl&kraj=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^wyswietl/([0-9]+) index.php?str=wyswietl&page=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^szukaj/([0-9a-zA-Z']+) index.php?str=szukaj&szukaj=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^szukaj/ index.php?str=szukaj&szukaj= [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^aktualizuj/([0-9]+) index.php?str=aktualizuj&id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([0-9a-zA-Z]+) index.php?str=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^home index.php [NC,L]