.admin_page{
    padding: 20px;
    margin-top: 30px;

    h1{
        text-align: center;
        margin: 0;
        font-size: 30px;
    }

    ul{
        .date{
            font-size: 20px;
        }
    }
}